*{
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

body{
    background-image: url(./tips.background.png);
    width: 100%;
}

.gameouter{
    background-image: url("./mainBackgroundpng.png");
    background-position: top center;
    background-size: 100%;
    padding-bottom: 5vh;
    margin-top: 3vh;
    display: block;
    background-repeat: no-repeat;
}

html{
    font-size: 62.5%;
}


/*unity*/
.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}





@font-face{
    font-family: mainfont;
    src:url("../font/mainFont.ttf");
}
#gameContainer{
    width: 72vw;
    height: 72vh;
}
.logoContainer p{
    font-family: mainfont;
    font-size: 3rem;
    text-shadow: 4px 5px 5px black;

    color: white;
    position: absolute;
}

main{
    /* margin-top: 18vh; */
    /* width: 72vw;
    height: 72vh; */
    /* border: solid;
    border-image-source: url(./mainBackgroundpng.png);
    border-image-width: 200px 200px 200px 200px;
    border-image-repeat: repeat;
    border-image-slice: 21% 21% 21% 21%;
    border-image-outset: 34px 13px 18px 16px; */
}
.mainContainer{
    margin: 0 auto;
    /* margin-top: 4vh; */
    position: relative;
    /*border: solid;
    border-image-source: url(./mainBackgroundpng.png);
    border-image-width: 18.2vh 18.6vw 120vh;
    border-image-slice: 13% 19% 54.5% 19%;
    border-image-outset: 0px 18.5vw 46.6vh;
    border-image-repeat: stretch; */
}   
footer{
    margin-top: 2vh;

    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer p{
    margin: 5vh 0;
}
footer img{
    width: auto;
    margin: 10px;
    height: 10vh;
    user-select: none;
}
.footer{
    color: white;
}
/* .footer span{
    color: tomato;
}
.footer a{
    color: white;
} */

#tips{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
}

/* #tip1{
    color: #ffc107;
}
#tip2{
    color: #dc3545;;
}
#tip3{
    color: #17a2b8;
} */

#metamaskWarning{
    color: red;
}



.designerIcon img{
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 13vh;
    width: auto;
}
.designerIcon p{
    position: relative;
    top: 0vh;
    font-size: 3rem;
    text-shadow: 4px 5px 5px black;
    color:white;
    font-family: 'mainfont';
}
.designerList{
    text-align: center;
    position: relative;
    display: flex;
}
.designer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80rem;
    /* margin-top: 13vh; */
    text-align: left;
    font-family: "mainfont";
    font-size: 2.6rem;
    background-image: url(./Sprite-0003.png);
    background-size: 100% 100%;
    /* border: solid; */
    display: none;
    padding: 1.5vh 1.5vw;
    /* border-image-source: url("./wall.jpg");
    border-image-width: 34px 20px 20px 20px;
    border-image-repeat: repeat;
    border-image-slice: 24% 9% 13% 9%;*/
    text-shadow: 4px 5px 5px black;
    border-image-outset: 34px 13px 18px 15px;
    padding-bottom: 2.7vh;
}
.bottom{
    height: 18vh;
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
    /* margin-top: 12vh; */
    /* margin-bottom: 5vh; */
}
.bottom .logoContainer{
    position: relative;
    height: 100%;
    width: 100%;
    /* margin-bottom: 5vh;
    margin-top: 14vh; */
}
.bottom .logoContainer img{
    height: 100%;
    width: auto;
}
.bottom #linkContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#linkContainer div p{
    font-family: 'mainfont';
    font-size: 3rem;
    cursor: pointer;
    color: white;
}
.buttomBackgroundImage{
    background-image: url("./FullscreenBoy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 4px 8px;
    cursor: pointer;
    margin-left: 10px;
}
.buttomBackgroundImage:active{
    background-image: url("./buttonLong_grey_pressed.png");
}
#fullscreenBoyContainer{
    display: inline-block;

}
#fullscreenBoyContainer img{
    width: 3rem;
    margin-left: 0.5vw;
    vertical-align: middle;
    height: 3rem;
}
.buttomText{
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    font-family: "mainfont";
    user-select: none;
    color: black;
}
.buttomTextContainer{
    height: 100%;
}
#logotextBottom{
    left: 28vh;
    top: 12vh;
}
#logotextTop{
    top: 1.5vh;
    left: 10vh;
}
.buttomGroup{

    margin-top: 15.5vh;
    justify-content: flex-start;
    flex-direction: row-reverse;
    display: flex;
}
#Contract , #buyCoins{
    font-style: italic;
    text-decoration: underline;

    color: white;
    font-size: 3.5rem;
    cursor: pointer;
}
#buyCoins{
    font-style: normal;
    text-decoration: none;
}
#tips p{
    font-family: 'mainfont';
    font-size: 2.8rem;
    margin: 1vh 0 ;
    text-shadow: 4px 5px 5px black;
}
#tips #buyCoins span{
    display: inline-block;
    font-style: normal;
    margin-right: 10px;
    text-decoration: none;
}

/* phone */
/* html,body{
    height: 100%;
    width: 100%;
} */


.phone{
    width: 100%;
    position: fixed;
    top: 50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    border-radius: 1vh;
    width: 81vw;
    margin: auto;
}
.phone p{
    color: black;
    font-size: 2rem;
}
.head{
    border-bottom: 1px solid #dee2e6;
}
.head p{
    margin: 1rem;
}
.body{
    margin: 3vh 6vw;
}
.body p{
    font-size: 1.5rem;
    
}
.flex{
    display: flex;
    justify-content: space-between;
}
.foot{
    border-top: 1px solid #dee2e6;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.foot button{
    font-size: 1.5rem;
    padding: 5px;
    margin: 1rem;
    background-color: rgb(0, 123, 255);;
    border: solid 2px rgb(0, 123, 255);;
    border-radius: .25rem;
}


#mobileFullscreen{
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 640px){
    html{
        font-size: 31.25%;
    }
    footer{
        display: none;
    }
    .bottom{
        display: none;
    }
    .buttomBackgroundImage{
        display: none;
    }
}

.modal{
    width: 300px;
    height: 180px;
    text-align: center;
    position:absolute;
    top:0;
    font-size: 30px;
    font-family: mainfont;
    bottom:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right:0;
    margin:auto;
}
#mobileFullscreen{
    background-color: transparent;
    background-image: url(./FullscreenBoy.png);
    background-position: center center;
    background-size: 100% 100%;
    width: 150px;
    color: black;
    font-family: mainfont;
    font-size: 25px;
    font-weight: 600;
    height: 60px;
}
#mobileFullscreen:active{
    background-image: url(./buttonLong_grey_pressed.png);
}